@{
    ViewData["Title"] = "Home Page";
}
@model List<Wedding>

<div class="d-flex justify-content-between">
    <p>Welcome @Context.Session.GetString("UserName")</p>
    <p>Home | <a asp-action="AddWedding" asp-controller="Wedding">Plan a Wedding</a> | <a asp-action="Logout" asp-controller="User">Logout</a></p>
</div>

<hr>

<table>
    <tr>
        <th>Wedding of</th>
        <th>Date</th>
        <th>Guest Count</th>
        <th>Action</th>
    </tr>
    @foreach (Wedding w in Model)
    {
        bool MyWedding = false;
        if (w.UserID == Context.Session.GetInt32("UserID"))
        {
            MyWedding = true;
        }
        bool IsAttending = w.WeddingGuestList.Any(wg => wg.UserID == Context.Session.GetInt32("UserID"));
        <tr>
            <td><a asp-action="OneWedding" asp-controller="Wedding" asp-route-weddingID=@w.WeddingID>@w.WedderOne & @w.WedderTwo</a></td>
            <td>@w.WeddingDate</td>
            <td>@w.WeddingGuestList.Count</td>
            <td>
            @if(MyWedding)
                {
                    <form asp-action="DeleteWedding" asp-controller="Wedding" asp-route-weddingID=@w.WeddingID method="post"><input type="button" value="Delete"></form>
                }
                else
                {
                    <form asp-action="ToggleRSVP" asp-controller="Wedding" asp-route-weddingID=@w.WeddingID method="post">
                        <button>@(IsAttending ? "Cancel" : "RSVP") </button></form>
                }</td>

        </tr>
    }
</table>