@{
    ViewData["Title"] = "Home Page";

}
@model List<Chef>

<div class="text-center">
    <h1 class="display-4">Check Out our Roster of Chefs</h1>
    Chefs | <a asp-action="Dishes" asp-controller="Home">Dishes</a> | <a asp-action="NewChef" asp-controller="Chef">Add Chef</a> | <a asp-action="NewDish" asp-controller="Dish">Add Dish</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @foreach (Chef chef in Model)
        {
            <tr>
                <td>@chef.FirstName @chef.LastName</td>
                <td>@chef.DateOfBirth.ToString("MM/dd/yyyy")</td>
                <td>@((int)DateTime.Now.Year - (int)chef.DateOfBirth.Year) </td>
                <td>@chef.AllDishes.Count</td>
            </tr>
        }

    </table>
</div>
